body {
    background-image: url("images/silverware.jpg");
    background-repeat: repeat;
    background-attachment: fixed;
    color: #404040;
    font-size: 11pt;
    font-family: Georgia, Garamond, sans-serif;
    background-attachment: fixed;
}

h1 {
    color: #A4A400;
    background-color: #F0F0F0;
    font-family: "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
    font-size: 18pt;
    text-decoration: underline;
    letter-spacing: 0.25em;
    width: max-content;
}

h1#title {
    text-align: center;
    font-size: 22pt;
    font-weight: bold;
    margin: auto;
}

a {
    color: #A4A400;
}

ul#summary {
    list-style-type: none;
    padding: 0px;
}

ul.ingredients {
    /* list-style-type: disc; */
    list-style-image: url('./images/pie_icon.gif');
}

ul.directions {
    /* list-style-type: circle; */
    list-style-image: url('./images/pie_icon.gif');
}

span.strong-point {
    font-weight: bold;
}

span.deprecated {
    text-decoration: line-through;
}

span.blockspan {
    display: block;
}

pre {
    font-family: monospace;
}

blockquote {
    background-color: #FFFFA8;
    font-style: italic;
}