header {
    font-size: 2em;
    background-color: #8eb9da;
    max-width: 100%;
    padding: 20px 0px;
    text-align: center;
    font-weight: 700;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #064e19;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.left {
    background-color: #9e9e9e;
    padding: 20px;
    float: left;
    width: 25%;
}

.main {
    background-color: #f1f1f1;
    padding: 20px;
    float: left;
    width: 50%;
}

.right {
    background-color: #9e9e9e;
    padding: 20px;
    float: left;
    width: 25%;
}
@media screen and (max-width:800px) {

    .left,
    .main,
    .right {
        width: 100%;
    }
}

* {
    box-sizing: border-box;
}
.contain{
    clear: both;
}
footer {
    background-color: #064e19;
    max-width: 100%;
    padding: 20px 0px;
    text-align: center;
    color:white
}