/* AUTHOR: ZAYED HASSAN, ID: 610126, ASSIGNMENT: HW2 - MOVIE REVIEW, FILE: PAGE STYLE */
body {
    margin: 0px;
    padding: 0px;
    background-image: url('images/background.png');
    font-size: 8pt;
    font-family: Verdana, Tahoma, sans-serif;
}

#banner {
    text-align: center;
    background-image: url('images/bannerbg.png');
    background-repeat: repeat-x;
}

#heading {
    text-align: center;
    font-size: 24pt;
    font-weight: bold;
    font-family: Verdana, Tahoma, sans-serif;
    text-shadow: 3px 3px #999999;
}

#content-area {
    width: 800px;
    border: 4px solid gray;
    border-radius: 20px;
    margin: auto;
    overflow: auto;
    position: relative;
}

#general-overview {
    float: right;
    background-color: #A2B964;
    width: 250px;
    font-size: 8pt;
    font-family: Arial, sans-serif;
    border-radius: 0 13px 13px 0;
}

#general-overview>dl {
    padding: 10pt;
    padding-top: 0px;
}

#general-overview dt {
    font-weight: bold;
    margin-top: 10pt;
}

#general-overview ul {
    list-style-type: none;
    padding: 0px;
    margin-top: 0px;
}

#gen-img {
    border-top-right-radius: 13px;
}

#critics-review {
    border-radius: 13px 0 0 13px;
    width: 550px;
}

#critics-top,
#rev-img {
    border-top-left-radius: 13px;
}

#rev-img {
    vertical-align: bottom;
}

#critics-top {
    background-image: url('images/rbg.png');
    background-repeat: repeat-x;
}

#rev-img~span {
    font-size: 48pt;
    font-weight: bold;
    color: red;
}

.review {
    font-size: 8pt;
    display: inline-grid;
    ;
    width: 47%;
    margin-left: 2%;
}

.review p:first-child {
    border: 2px solid gray;
    background-color: #E8DC9B;
    border-radius: 10px;
    padding: 8px;
    font-weight: bold;
    overflow: auto;
}

.review p>img {
    margin-right: 5px;
    float: left;
}

#foot {
    background-color: #A2B964;
    padding: 5px;
    margin-bottom: 0px;
    text-align: center;
    border-bottom-left-radius: 13px;
    position: absolute;
    bottom: 0px;
    width: inherit;
}

#validators {
    opacity: 0.5;
    position: fixed;
    bottom: 0px;
    right: 0px;
}

.publication {
    font-style: italic;
}